In [ ]:
# !pip install bs4
# !pip install finance-datareader

In [1]:
import FinanceDataReader as fdr

In [2]:
krx_data = fdr.DataReader('KRX', '2010', '2011')

In [ ]:
krx_data.head()

In [13]:
df_krx = fdr.StockListing('KRX')
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [3]:
kospi = fdr.DataReader('KS11','20201201')
kospi.tail(5)

              Close     Open     High      Low        Volume  Change
Date
2020-12-15  2756.82  2763.65  2769.37  2735.08  1.090000e+09 -0.0019
2020-12-16  2771.79  2763.64  2781.08  2761.50  1.170000e+09  0.0054
2020-12-17  2770.43  2769.89  2772.71  2742.25  1.020000e+09 -0.0005
2020-12-18  2772.18  2770.95  2782.15  2762.80  1.060000e+09  0.0006
2020-12-21  2776.56  2771.98  2780.24  2747.09  1.110000e+06  0.0016

In [4]:
kosdaq = fdr.DataReader('KQ11', '20201201')
kosdaq.tail(5)

             Close    Open    High     Low        Volume  Change
Date
2020-12-15  931.27  930.73  934.30  921.27  2.100000e+09  0.0019
2020-12-16  939.65  932.41  941.45  932.41  2.000000e+09  0.0090
2020-12-17  944.04  938.88  948.43  938.88  2.650000e+09  0.0047
2020-12-18  947.24  945.81  948.59  942.46  2.110000e+09  0.0034
2020-12-21  954.19  948.64  954.34  940.98  1.880000e+06  0.0073

In [5]:
dowjones = fdr.DataReader('DJI', '20201201')
dowjones.tail(5)

               Close      Open      High       Low       Volume  Change
Date
2020-12-14  29861.55  30123.91  30325.79  29849.15  371980000.0 -0.0062
2020-12-15  30199.31  29919.09  30243.26  29894.95  419480000.0  0.0113
2020-12-16  30154.54  30191.38  30236.03  30080.11  349540000.0 -0.0015
2020-12-17  30303.37  30216.00  30323.78  30216.00  345530000.0  0.0049
2020-12-18  30179.05  30314.26  30343.59  30029.44  798230000.0 -0.0041