In [ ]:
# !pip install bs4
# !pip install finance-datareader

In [ ]:
import FinanceDataReader as fdr

In [ ]:
krx_data = fdr.DataReader('KRX', '2010', '2011')

In [ ]:
krx_data.head()

In [ ]:
df_krx = fdr.StockListing('KRX')
df_krx.head()

In [ ]:
kospi = fdr.DataReader('KS11','20201201')
# kospi.tail(5)
kospi.values[0][0]

In [ ]:
kosdaq = fdr.DataReader('KQ11', '20201201')
kosdaq.tail(5)

In [ ]:
dowjones = fdr.DataReader('DJI', '20201201')
dowjones.tail(5)

In [2]:
import FinanceDataReader as fdr

In [3]:
krx_data = fdr.StockListing("KRX")
krx_data.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [4]:
krx_data.to_csv('stocks-master.csv', index=False)

In [5]:
import csv
import re
stocks_master = []
with open('stocks-master.csv', encoding='utf-8') as f:
    reader = csv.reader(f)
    header = next(reader)
    for line in reader:
        line[6] = re.sub(r'[^0-9]','',line[6]) # [6]번째 데이터에서 숫자가 아닌 문자 제거: 03월 -> 03
        stocks_master.append(line)

In [7]:
stocks_master[1]

['095570',
 'KOSPI',
 'AJ네트웍스',
 '산업용 기계 및 장비 임대업',
 '렌탈(파렛트, OA장비, 건설장비)',
 '2015-08-21',
 '12',
 '이현우',
 'http://www.ajnet.co.kr',
 '서울특별시']

In [12]:
import pymysql

connection_info = { 'host': 'localhost', 'user': 'root', 'password': 'Wnalsrl1210', 'db': 'dashboarddb', 'charset': 'utf8' }
        
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

sql = 'CREATE TABLE IF NOT EXISTS stock_stockmaster (Symbol varchar(10), Market varchar(20), Name varchar(50), Sector varchar(50), Industry varchar(200), ListingDate varchar(10), SettleMonth char(2), Representative varchar(100), HomePage varchar(50), Region varchar (50))'
cursor.execute(sql)

sql = 'DELETE FROM stocks_stockmaster'
cursor.execute(sql)

sql = 'INSERT INTO stocks_stockmaster VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
cursor.executemany(sql, stocks_master)

conn.commit()

conn.close()